# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production build output
dist/
dist-ssr/
assets/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor files & OS metadata
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
thumbs.db
db.json
